@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <h1>404 - Page not found</h1>
        <p>The page you're looking for doesn't exist.</p>
    </NotFound>
</Router>

